/.DS_Store
/.idea/.name
/.idea/libraries/sass_stdlib.xml
/.idea/other.xml
/.idea/testrunner.xml
/.idea/workspace.xml
/.ropeproject/config.py
/.ropeproject/globalnames
/.ropeproject/history
/.ropeproject/objectdb
